<div>
<h2>Search Notes: </h2>
<label for="category">Category</label>
<input type="text" id="category" name="m[category]" style="width:50%;"/>'
<button id="execute-search"> Search </button>
<div>

<br />

 <div class="results" id="search-results"></div>
<br/>